* {
    font-family: 'Montserrat', sans-serif;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    /* borrowed image from imgur  url("https://i.imgur.com/2gfwG.png");*/
    background-image: url(../photos/day_mode.png);
}

/* Header  */

header {
    color: #fff; 
    padding: 20px 0; 
    text-align: center;
}

h1 {
    font-size: 85px; 
    font-family: 'MuseoModerno', cursive;
}

.header-container {
    height: 15vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.input-container {
    height: 5vh; 
    display: flex; 
    justify-content: center;  
    align-items: center;
}

#input-name {
    border: 1px solid #000000; 
    font-size: 12px; 
    width: 200px; 
    height: 38px; 
    border-radius: 25px;
    text-align: center;
    outline: none;
}

.divider {
    width: 1vw; 
}

#create {
    border: 1px solid #000000;     
    font-size: 12px; 
    width: 125px; 
    height: 38px; 
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

#create:hover {
    font-size: 15px; 
}

/* Tamagotchi Info */

.tamagotchi-info-container {
    height: 8vh; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.nested-tamagotchi-info {
    width: 1000px; 
    display: flex; 
    justify-content: space-around; 
}

.tamagotchi-name {
    color: #fff; 
    font-size: 30px; 
}

.tamagotchi-age {
    color: #fff; 
    font-size: 30px;
}

.round-container {
    color: #fff; 
    font-size: 30px;
}

/* Content container  */

.content-container {
    height: 35vh; 
    display: flex; 
    justify-content: center;
}

.metric-container {
    width: 33vw; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: black; 
    font-size: 30px; 
}

/*.nested-metric-container {
} */

button {
    width: 125px; 
    height: 38px; 
    border-radius: 25px;
    outline: none;
    cursor: pointer;
}

button:hover {
    font-size: 15px; 
}

.button-container {
    width: 33vw; 
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 30px; 
}

/* .nested-button-container {
} */

.image-container {
    background-color: white;
    width: 25.9vw; 
    height: 35vh; 
    text-align: center; 
    border: 2px solid #000000;   
}

#charmander {
    width: 22vw; 
    height: 34vh; 
}

/* Message Bubble */

.message-bubble-container {
    height: 27vh; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.nested-message-bubble-container {
    width: 40vw; 
    height: 14vh; 
    display: flex; 
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;   
    background-color: white;
    text-align: center;
    border-radius: 25px;
}

/* Footer */

footer {
    height: 6vh;
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
}

