* {
    font-family: 'MuseoModerno', cursive;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

/* Header  */

header {
    color: #fff; 
    background-color: #ff0000; 
    padding: 20px 0; 
    text-align: center;
}

h1 {
    font-size: 80px; 
}

#input-name {
    border: 1px solid #000000; 
}

#create {
    border: 1px solid #000000;     
}

/* Tamagotchi Info */

.tamagotchi-info-container {
    display: flex; 
    justify-content: center;
    background-color: #ff0000; 
}

.nested-tamagotchi-info {
    /* remove border when complete */
    width: 1000px; 
    display: flex; 
    justify-content: space-around; 
}

.tamagotchi-name {
    color: #fff; 
    font-size: 30px; 
}

.tamagotchi-age {
    color: #fff; 
    font-size: 30px;
}

.round-container {
    color: #fff; 
    font-size: 30px;
}

/* Content container  */

.content-container {
    display: flex; 
    justify-content: center;
}

.metric-container {
    width: 33vw; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff0000; 
    color: #fff; 
}

/* .nested-metric-container {
    
} */

.button-container {
    width: 33vw; 
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #ff0000; 
}

/* .nested-button-container {

} */

.image-container {
    width: 33.9vw; 
    text-align: center; 
    border: 3px solid #000000;   
}

#charmander {
    width: 33vw; 
}
